   section {
            padding: 70px 0;
            border-bottom: 1px dotted #ccc;
        }
        .grid-example  div[class^="col"] {
            border: 1px solid white;
            background: lightblue;
            text-align: center;
            padding-top: 8px;
            padding-bottom: 8px;
            }
       